.buttons {
    position: fixed;
    bottom:0;
    left:0;
    right: 0;
    height: 3rem;
    opacity: 0.15;
    //visibility: hidden; // Remove this line to show debug buttons
    z-index: 9999;
    button {
        height: 3rem;
        width: 3rem;
    }
}